.login-container{
  margin-top:50px;
  img{
    width:100px;
    margin: 0 auto;
  }
  .login-form{

    form{
      padding: 15px;
      background: #fff;
      .login-form-main{
        display: flex;
        align-items: center;
        span{
          font-size: 22px;
          color: #356dd0;
        }
        span.error{
          font-size: 14px;
          color: red;
        }
        input{
          height: 40px;
          //line-height: 40px;
          width: 100%;
          margin-left: 10px;
          color: #666;
          flex: 1;
        }
        input[type='button']{
          color: #fff;
          background:#356dd0 ;
        }
      }
    }
  }
}