body{
  background: #fff;
}
.main{
  padding-top: 45px;
  padding-bottom: 41px;
}
.detail-header{
  background: #fff;
  padding: 15px;
  h1{
    font-size: 16px;
    text-align: center;
  }
  .detaile-header-img{
    display: flex;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .detaile-header-info{

      h4{
        font-size: 16px;
      }
      span{
        color: #999;
        margin-top: 5px;
        font-size: 12px;
      }
      .click{
        margin-left: 10px;
      }
    }
  }

  .comment{
    background: url("../../static/img/comment.png")no-repeat;
    padding-left: 25px;
    margin-left:10px;
    color: #999;
  }
  .commit{
    margin-top: 15px;
    height: 300px;
    background: #fff;
  }
}
.commit{
  .commit-p{
   /* height:5px;
    background: #ccc;*/
  }
  .commit-main{
    padding:0 15px;
    .commit-body{
      display: flex;
      margin: 15px 0;
      .commit-body-img{
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px
        }
      }
      .commit-body-text{
        flex: 1;
        h4{
          font-size: 14px;
          color: #000;
        }
        p{
          font-size: 12px;
          padding: 5px 0;
          span{
            margin-left: 8px;
            &.active{
              border-radius: 8px;
              padding: 3px 4px;
              background: #ccc;
            }
          }
          .user{
            margin:0 4px;
            color: #108ee9;
          }
        }
        .timer{

          display: flex;
          justify-content: space-between;
        }
      }
    }

  }

}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  input,a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,.15);
    padding-left: 15px;
    display:block;
  }
}



.editormd-preview-container, .editormd-html-preview {
  box-sizing: border-box;
  padding: 15px;
}
.model-main{
  width: 100%;
  box-sizing: border-box;
  height: 20%;
  background: #fff;
  .close{
    border-top: 1px solid #aea8a8;
    text-align: center;
    font-size: 16px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
.social-share{
  padding:0 15px;
  height: 60%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#model{
  width: 100%;
  height: 100%;
  background-color: RGBA(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.animated-fade-in {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
}

.animated-fade-out {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.animated-slide-in-up {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}
.animated-slide-out-down {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: slideOutDown;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
}

.model{
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  display: inherit !important;
}